.verify {    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("./../../../public/images/lll.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}